<%- include('../partials/_head.ejs') %>
<%- include('../partials/_navbar.ejs') %>

<body>
<div class="container">
    
    <% if(checkVar === 1) { %>
    <h2>Change Password</h2>
    <br><br>
        <form action="/user/<%= user._id %>/user?_method=PUT" method="POST">
            <label for="username">Username:</label>
                <input type="text" id="username" name="username" value="<%= user.username %>" disabled>
            <br>
            <label for="currentPassword">Current Password:</label>
                <input type="password" id="currentPassword" name="currentPassword">
            <br>
            <label for="newPassword">New Password:</label>
                <input type="password" id="newPassword" name="newPassword">
            <br>
            <label for="confirmPassword">Confirm Password:</label>
                <input type="password" id="confirmPassword" name="confirmPassword">
            <hr>
            <input type="submit" value="Change Password" name="submit">
            <input type="submit" value="Cancel" name="submit">
    </form>
    <% } else if(checkVar === 0) { %>
    <h2>Edit Profile</h2>
    
        <form action="/user/<%= user._id %>/user?_method=PUT" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="<%= user.username %>" disabled>
            <br>
            <label for="contactNo">Contact No.:</label>
            <input type="number" id="contactNo" name="contactNo" value="<%= user.contactNo %>">
            <br>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" value="<%= user.email %>">
            <hr>
            <input type="submit" value="Update Profile" name="submit">
            <input type="submit" value="Cancel" name="submit">

        </form>
    <% } else if(checkVar === 2) { %>
        <img src=<% user.img %>>

    <h2>Updating pro    file picture</h2>
    <br>
    <br>
    <br>
        <form action="/user/<%=user._id%>/changePic" method="POST" enctype="multipart/form-data">
            <input type="file" name="img" accept="image/*" required/>
            <hr>
            <input type="submit" value="Update Picture" name="submit">
            <input type="submit" value="Cancel" name="submit">
        </form>
    <% } %>
</div>
</body>
</html>
