<%- include('../partials/_head.ejs') %>
<%- include('../partials/_navbar.ejs') %>

<body>
    <h1> DASHBOARD </h1>
    

            <h4>Welcome <%= user.username %></h4>
            <img src="/public/uploads/newUser.png" style="border-radius: 50%" width="100px" height="auto">
            <br>
            <a href="/user/<%= user._id %>/changePic">Change Profile Picture</a>
            <p>Contact No. <%= user.contactNo %> </p>
            <p>Email:  <%= user.email %> </p>

            <a href="/user/<%= user._id %>/edit">Edit Profile</a><br>
            <a href="/user/<%= user._id %>/changePassword">Change Password (you'll have to re-log in)</a>

            <a href="/Ads/<%= user._id %>/Ads">
                <h4>Your Ads</h4>
            </a>

</body>
<%- include('../partials/_footer') %>

<!-- Show Categories Button -->
<button class="show-categories-btn" onclick="document.querySelector('.ads-container').style.display = document.querySelector('.ads-container').style.display === 'flex' ? 'none' : 'flex';">
  Show Categories
</button>

