<%- include('../partials/_head.ejs') %>
<%- include('../partials/_navbar.ejs') %>

<body>
    <h1> THE DASHBOARD OF THE USER </h1>
    

    <a href="/Ads/<%= user._id %>/Ads">
        <p>Your Ads</p>
    </a>

    <a href="/Ads/<%= user._id %>/new">
        <p>add an new Ad</p>
    </a>

</body>
<%- include('../partials/_footer') %>