<%- include('../partials/_head.ejs') %>
<%- include('../partials/_navbar.ejs') %>

<body>
    <h1> DASHBOARD </h1>
    
    <div class = "main-container">
        <div class = "profile-side">
            <h4>Welcome <%= user.username %></h4>
            <p>Contact No. <%= user.contactNo %> </p>
            <p>Email:  <%= user.email %> </p>

            <a href="/user/<%= user._id %>/edit">Edit Profile</a>
            <a href="/user/<%= user._id %>/changePassword">Change Password</a>
        </div>
        <div class = "Ads-side">
            <a href="/Ads/<%= user._id %>/Ads">
                <h4>Your Ads</h4>
            </a>
        </div>
    </div>


</body>
<%- include('../partials/_footer') %>

<% user.Ads.forEach(function(ad) { %>
  <div>
    <h2><%= ad.title %></h2>
    <a href="/Ads/<%= ad._id %>/edit">Edit</a>
    <form action="/Ads/<%= ad._id %>?_method=DELETE" method="POST" style="display:inline;">
      <button type="submit">Delete</button>
    </form>
  </div>
<% }) %>