<%- include('../partials/_head.ejs') %>
<%- include('../partials/_navbar.ejs') %>
<body>
  <br>
  <h1>Spare Parts</h1>
<ul>
  <% ads.forEach((ad) => { %>
  <div class="container">
  <div class="signin-box" >
    
      <img src="/Ads/<%= ad.img %>" alt="<%= ad.title %>" width="120">
    <li>
      <h2>Title : <%= ad.title %></h2>
      <h2>Price : BD<%= ad.price %></h2>
      <h2>Description :<%= ad.description %></h2>
      <h2>Published by :<%= ad.owner.username %></h2>
      <h2>Contact number :<%= ad.owner.contactNo %></h2>
    </li>
  </div>
  </div>
  <% }); %>
</ul>
</body>
<%- include('../partials/_footer.ejs') %>



