<%- include('../partials/_head.ejs') %>
<%- include('../partials/_navbar.ejs') %>

<body>
  <div class="container">
  <div class="signin-box" >
  <h1 class="h1-SignIn">Add Ads</h1>
  <form action="/Ads/<%= user._id %>/Ads/<%=Ad._id%>?_method=PUT" method="POST" enctype="multipart/form-data">

  <label for="img">Upload Image:</label>
  <input class="input" type="file" name="img" id="img" accept="image/*" >
  <br>

  <label for="title">title</label>
  <input class="input"type="text" name="title" id="title" value="<%= Ad.title %>">
  <br>

  <label for="price">price</label>
  <input class="input" type="text" name="price" id="price" value="<%= Ad.price %>">
  <br>

    <label  for="description">description</label>
    <textarea class="input" type="text" name="description" id="description">value="<%= Ad.description %>"</textarea>
    <br>


    <label for="category">category</label>
    <select class= "input" name="category" id="category">
      <option value="phones" <%= Ad.category === "phones" ? "selected":"" %>>Phone</option>
      <option value="cars" <%= Ad.category === "cars" ? "selected":"" %>>Car</option>
      <option value="books" <%= Ad.category === "books" ? "selected":"" %>>Book</option>
      <option value="spare parts" <%= Ad.category === "spare parts" ? "selected":"" %>>spare parts</option>
    </select>
    <br>

    <button class="input-submit" type="submit">submit</button>
  </form>
  </div>
  </div>
</body>

<%- include('../partials/_footer.ejs') %>
