<%- include('../partials/_head.ejs') %>
<%- include('../partials/_navbar.ejs') %>

<body class="auth-bg">
  <div class="auth-center-container">
    <div class="signin-box">
      <h1 class="h1-SignIn">Edit Ad</h1>
      <form action="/Ads/<%= user._id %>/Ads/<%= Ad._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <label for="img">Upload Image</label>
        <input class="input" type="file" name="img" id="img" accept="image/*">

        <label for="title">Title</label>
        <input class="input" type="text" name="title" id="title" value="<%= Ad.title %>" required>

        <label for="price">Price</label>
        <input class="input" type="text" name="price" id="price" value="<%= Ad.price %>" required>

        <label for="description">Description</label>
        <textarea class="input" name="description" id="description" rows="3" required><%= Ad.description %></textarea>

        <label for="category">Category</label>
        <select class="input" name="category" id="category" required>
          <option value="phones" <%= Ad.category === "phones" ? "selected" : "" %>>Phone</option>
          <option value="cars" <%= Ad.category === "cars" ? "selected" : "" %>>Car</option>
          <option value="books" <%= Ad.category === "books" ? "selected" : "" %>>Book</option>
          <option value="spare parts" <%= Ad.category === "spare parts" ? "selected" : "" %>>Spare Parts</option>
        </select>

        <button class="input-submit" type="submit">Update Ad</button>
      </form>
    </div>
  </div>
</body>

<%- include('../partials/_footer.ejs') %>