<%- include('../partials/_head.ejs') %>
<%- include('../partials/_navbar.ejs') %>


<body class="auth-bg">
  <div class="auth-center-container">
  <div class="signin-box" >
  <h1 class="h1-SignIn">Editing <%= Ad.title %></h1>
  <form action="/Ads/<%= user._id %>/Ads/<%=Ad._id%>?_method=PUT" method="POST">


  <label for="title">Title</label>
  <input class="input"type="text" name="title" id="title" value="<%= Ad.title %>">
  <br>

  <label for="price">Price</label>
  <input class="input" type="text" name="price" id="price" value="<%= Ad.price %>">
  <br>

    <label  for="description">Description</label>
    <textarea class="input" type="text" name="description" id="description"><%= Ad.description %></textarea>
    <br>
    <label for="condition">Condition</label>
    <select class= "input" name="condition" id="condition">
      <option value="new" <%= Ad.category === "new" ? "selected":"" %>>New</option>
      <option value="used" <%= Ad.category === "used" ? "selected":"" %>>Used</option></select>
      <br>
    <label for="category">Category</label>
    <select class= "input" name="category" id="category">
      <option value="phones" <%= Ad.category === "phones" ? "selected":"" %>>Phone</option>
      <option value="cars" <%= Ad.category === "cars" ? "selected":"" %>>Car</option>
      <option value="books" <%= Ad.category === "books" ? "selected":"" %>>Book</option>
      <option value="spare parts" <%= Ad.category === "spare parts" ? "selected":"" %>>Spare Parts</option>
      <option value="laptop" <%= Ad.category === "laptop" ? "selected":"" %>>Laptop</option>
    </select>
    <br>

    <button class="input-submit" type="submit">Submit</button>
  </form>
  <a href="/user/<%= user._id %>/user" class="update-profile-btn cancel-btn">
    <i class="fa fa-times"></i> Cancel
  </a>
  </div>
  </div>
</body>

<%- include('../partials/_footer.ejs') %>