<%- include('../partials/_head.ejs')%>
<%- include('../partials/_navbar.ejs') %> 
<body>
    <a href="/Ads/<%= user._id %>/new"> add an new Ad</a>

<h1>Your Ads</h1>
    <ul>
        <% Ads.forEach(Ads => { %>
            <a href="/Ads/<%= user._id %>/Ads/<%=Ads._id%>">
            <h4><li><%= Ads.title %></li></h4></a>
        <% }) %>
        </ul>
</body>
<%- include('../partials/_footer.ejs') %>