<%- include('../partials/_head.ejs')%>
<%- include('../partials/_navbar.ejs') %> 
<body>
    <a href="/Ads/new">add an new Ad</a>

<h1>Your Ads</h1>
    <ul>
        <% Ads.forEach(app => { %>
            <a href="/user/<%= user._id %>/Ads/<%=app.id %> ">
                <li><%= app.title %></li>
                <li><%= app.price %></li>
                <li><%= app.description %></li>
                <li><%= app.category %></li>
                </a>
        <% }) %>
        </ul>
    
</body>
<%- include('../partials/_footer.ejs') %>