<%- include('../partials/_head.ejs')%>
<%- include('../partials/_navbar.ejs') %> 
<body>
    <a href="/Ads/new">add an new Ad</a>

<h1>Your Ads</h1>
    <ul>
        <% Ads.forEach(ad => { %>
            <a href="/user/<%= user._id %>/Ads/<%=ad.id %> ">
                <li><%= ad.title %></li>
                <li><%= ad.price %></li>
                <li><%= ad.description %></li>
                <li><%= ad.category %></li>
                </a>
        <% }) %>
        </ul>
    
</body>
<%- include('../partials/_footer.ejs') %>