<%- include('../partials/_head.ejs') %>
<%- include('../partials/_navbar.ejs') %>
<body>
  <div class="ads-page-container">
    <div class="ads-header">
      <h1>Your Ads</h1>
      <a class="add-ad-btn" href="/Ads/<%= user._id %>/new">
        <i class="fa fa-plus-circle"></i> Add New Ad
      </a>
    </div>
    <ul class="ads-list">
      <% Ads.forEach(ad => { %>
        <li class="ads-list-item">
          <a href="/Ads/<%= user._id %>/Ads/<%= ad._id %>">
            <h4><%= ad.title %></h4>
            <% if (ad.img) { %>
              <img 
                src="<%= ad.img.startsWith('http') ? ad.img : '/uploads/' + ad.img %>" 
                width="100px" 
                height="auto" 
                alt="<%= ad.title %>"
                onerror="this.onerror=null;this.src='/images/default-image.png';"
              />
            <% } else { %>
              <img 
                src="/images/default-image.png" 
                width="100px" 
                height="auto" 
                alt="No image"
              />
            <% } %>
          </a>
        </li>
      <% }) %>
    </ul>
  </div>
</body>
<%- include('../partials/_footer.ejs') %>