<body>
  <h1> <%= ad.title %> </h1>
  <li>Price: BD<%= ad.price %></li>
  <li>Description: <%= ad.description %></li>
  <li>Category: <%= ad.category %></li>


   <a href="/Ads/<%= user._id %>/Ads/<%= ad._id %>/edit"> Edit </a>

</body>